<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/app.js"></script>
    
    <title>Conversor Crypto</title>
    


</head>
<body class = "container" >
    <header id="header_crypto" >
        <h1>myCRYPTO</h1>               
    </header>
    <div id="message_error">
        "Error en la alta de movimientos"
    </div>
    

    <div id="movements_list" class="container_movements">
            
            <table id="movements_table">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                </tr>
            </table>
            <span id="message">No se han encontrado movimientos</span>
    </div>

    <div id="status_balance">
            <table id="status">
                <tr>
                    <th>Invertido:</th>
                    <td id="invested"></td>
                </tr>
               
                <tr>
                    <th>Recuperado:</th>
                    <td id="recovered"></td>
                </tr>

                <tr>
                    <th>V. de compra:</th>
                    <td id="buy_value"></td>
                </tr>

                <tr>
                    <th>V. actual:</th>
                    <td id="current_value"></td>
                </tr>
                
                <tr>
                    <th class="total">Beneficios:</th>
                    <td id="profit" class="total"></td>
                </tr>

            </table>


            
    </div>

        
        
    <aside class="show_onclick">
            <form action="/api/v1/alta">
               
                <div class="container" id="form_crypto">
                    <label for="monedas"></label>
                    From:
                    
                    <select name="monedas_from" id="cryptos" required>
                        <optgroup name="monedas_from">
                            <option value="BTC">BTC</option>                  
                            <option value="ETH">ETH</option>                  
                            <option value="BNB">BNB</option>                  
                            <option value="XRP">XRP</option>                  
                            <option value="USDT">USDT</option>                  
                            <option value="ADA">ADA</option>                  
                            <option value="SOL">SOL</option>                  
                            <option value="DOT">DOT</option>                  
                            <option value="MATIC">MATIC</option>
                        </optgroup>
                        <optgroup name="monedas_from" id="Fiat" >      
                            <option value="EUR">EUR</option>                  
                        </optgroup> 
                    </select>
                    Q:
                    <input type="number" name="cantidad_from"   placeholder="Introduzca la cantidad a cambiar" required>  

                    <a title="calculator" id="calculator">
                        <img src="/static/img/presupuesto.png" alt="calculator" />
                    </a>    
                    
                    
                        
                     

                </div>

                <div id="crypto_to" class="container">
                    <label for="monedas"></label>
                    To:
                    
                    
                    <select name="monedas_to" id="cryptos" required>
                        <optgroup name="cryptos">
                            <option value="BTC">BTC</option>                  
                            <option value="ETH">ETH</option>                  
                            <option value="BNB">BNB</option>                  
                            <option value="XRP">XRP</option>                  
                            <option value="USDT">USDT</option>                  
                            <option value="ADA">ADA</option>                  
                            <option value="SOL">SOL</option>                  
                            <option value="DOT">DOT</option>                  
                            <option value="MATIC">MATIC</option>
                        </optgroup>
                        <optgroup name="Fiat" >      
                            <option value="EUR">EUR</option>                  
                        </optgroup> 
                    </select>

                    <table>
                        <tr>
                            <th>Q:</th>
                            <td id="total_crypto" class="total"></td>
                        </tr>
                       
                        <tr>
                            <th>P.V:</th>
                            <td id="crypto" class="total"></td>
                        </tr>
                    </table>
                    <div class="btn_buy">
                        <button id="btn_buy">BUY</button>  
                    </div>
                    
                    
                      
                    
                    
                </div>
                
            </form>
    </aside>    
    


    <footer>
        <div  class="container">
            &copy; 2022 - JK
        </div>
    </footer>
    
</body>
</html>