<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/function.js"></script>
    <script src="/static/js/spa.js"></script>
    
    <title>Conversor Crypto</title>
    


</head>
<body class = "container" >
    <header id="header_crypto" >
        <h1>myCRYPTO</h1>               
    </header>
    <div id="message_error" class="inactive">
        "Error en la alta de movimientos"
    </div>
    <section>

        <article id="movements">
            
            <table id="movements_table" class="inactive">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                </tr>
            </table>
            <span id="mensaje">No se han encontrado movimientos</span>
        </article>

        <article id="saldo">
            <table>
                <tr>
                    <th>Invertido:</th>
                    <td id="invested"></td>
                </tr>
               
                <tr>
                    <th>Recuperado:</th>
                    <td id="recovered"></td>
                </tr>

                <tr>
                    <th>V. de compra:</th>
                    <td id="buy_value"></td>
                </tr>

                <tr>
                    <th>V. actual:</th>
                    <td id="current_value"></td>
                </tr>
                
                <tr>
                    <th class="total">Beneficios:</th>
                    <td id="profit" class="total"></td>
                </tr>

            </table>


            
        </article>

        
    </section>      
    <aside id="form_alta" class="inactive">
            <form action="alta" id="form_new">
                <div class="form_crypto">
                    From:
                    <select name="selec_from" id="selec_from">                  
                    </select>
                    Q:
                    <input type="number" name="quantity_from" id="quantity_from"  placeholder="Importe a calcular">  


                    
                
                    

                    <span id="text_error" class="inactive"> error</span>
                    <span id="text_date" class="inactive"></span>&nbsp;&nbsp;
                    <span id="text_time" class="inactive"></span>
                    <br>
                    <p id="time">
                        <span id="minutes"></span>  
                        <span id="seconds"></span> 
                    </p>
                    
                        
                     

                </div>

                <div class="crypto_to">
                    To:
                    <select name="selec_to" id="selec_to">                  
                    </select>

                    <table>
                        <tr>
                            <th>Q:</th>
                            <td id="total_crypto" class="total"></td>
                        </tr>
                       
                        <tr>
                            <th>P.V:</th>
                            <td id="crypto" class="total"></td>
                        </tr>
                    </table>
                    <div class="center">
                        <button id="btn_aceptar">BUY</button>  
                    </div>
                    
                    
                      
                    
                    
                </div>
                
            </form>
    </aside>    
    


    <footer>
        <div  class="container">
            &copy; 2022 - JK
        </div>
    </footer>
    
</body>
</html>