<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="/static/js/app.js"></script>
    
    <title>Conversor Crypto</title>
    


</head>
<body class = "container" >
    <header id="header_crypto" >
        <h1>myCRYPTO</h1>               
    </header>
<div class="flex">    
    <div id="status_balance" class="container status">
            <table id="status">
                <tr>
                    <th>Invertido:</th>
                    <td id="invested"></td>
                </tr>
               
                <tr>
                    <th>Recuperado:</th>
                    <td id="recovered"></td>
                </tr>

                <tr>
                    <th>V. de compra:</th>
                    <td id="buy_value"></td>
                </tr>

                <tr>
                    <th>V. actual:</th>
                    <td id="current_value"></td>
                </tr>
                
                <tr>
                    <th class="total">Beneficios:</th>
                    <td id="profit" class="total"></td>
                </tr>

            </table>


            
    </div>

    <div id="movements_list" class="container movements">
            
            <table id="movements_table">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                </tr>
            </table>
            <span id="message">No se han encontrado movimientos</span>
           
    </div>
</div>

        
    <button class="open-button" id="openbtn">Pulse para comprar</button>  
    <div class="popup-form" id="Form">
            <form id="myform" class="form-container">
               
                <div class="container">
                    <label for="monedas"></label>
                    From:
                    
                    <select name="monedas_from" id="cryptos" required>
                        <option value="">Seleccione una moneda</option>                            
                        <option value="EUR">EUR</option>                                         
                        <option value="BTC">BTC</option>                  
                        <option value="ETH">ETH</option>                  
                        <option value="BNB">BNB</option>                  
                        <option value="XRP">XRP</option>                  
                        <option value="USDT">USDT</option>                  
                        <option value="ADA">ADA</option>                  
                        <option value="SOL">SOL</option>                  
                        <option value="DOT">DOT</option>                  
                        <option value="MATIC">MATIC</option>                    
                    </select>
                    
                    Q:
                    <input id="cantidad_from" type="number"  step="0.00000001"   name="cantidad_from"   placeholder="Introduzca la cantidad a cambiar" required>  
                    
                    <a title="calculator" id="calculator">
                        <img src="/static/img/presupuesto.png" alt="calculator" id="calculator" />

                    </a>     

                </div>

                <div id="crypto_to" class="container">
                    <label for="monedas"></label>
                    To:
                    
                    
                    <select name="monedas_to" id="cryptos2" required>
                        <option value="">Seleccione una moneda</option>     
                        <option value="EUR">EUR</option>                  
                        <option value="BTC">BTC</option>                  
                        <option value="ETH">ETH</option>                  
                        <option value="BNB">BNB</option>                  
                        <option value="XRP">XRP</option>                  
                        <option value="USDT">USDT</option>                  
                        <option value="ADA">ADA</option>                  
                        <option value="SOL">SOL</option>                  
                        <option value="DOT">DOT</option>                  
                        <option value="MATIC">MATIC</option>
                    </select>

                    <table>
                        <tr>
                            <th>Q:</th>
                            <td id="total_crypto" class="total"></td>
                        </tr>
                        
                        <tr>
                            <th>P.V:</th>
                            <td id="pvcrypto" class="total"></td>
                        </tr>
                        
                    </table>
                    <div class="btn_buy" id="btn_buy">
                        <button type="submit" id="btn_buy">BUY</button>  
                    </div>                                             
                </div>
                <button type="button" class="close-button" id="closebtn">Cerrar</button> 
            </form>
    </div>   
    


    <footer>
        <div  class="footer">
            &copy; 2022 - JK
        </div>
    </footer>
    
</body>
</html>